span.error {
    color: red;
}

span.keyword {
    color: darkgoldenrod;
}

span.name {
    color: blue;
}

span.comment {
    color: dimgrey;
}

span.string {
    color: limegreen;
}

#editor {
    padding-top: 25px;
}

#code {
    padding-top:100px;
    padding-left:150px;
}